# Byte-compiled / cache
__pycache__/

# Virtual environment
env/
.venv/
ENV/
.ENV/
news_env/

# Logs and temporary
*.log
*.tmp

# Environment variables
*.env

# System
.DS_Store
Thumbs.db

#Video
.mp4
.mkv
.avi